body {
    background-image: url('assets/burger-friends.jpg');
    background-size: cover;
    margin: 0;
} 
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0fb9b1;
    width: 100%;
    animation: fade-in 0.5s
  }
.headline{
    font-size: 28px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin: 25;
    margin-left: 30;
  }



.addRecipeButton {
    background-color: rgb(223, 217, 217);
    color: black;
    font-size: 14px;
    cursor: pointer;
    margin: 5;
    margin-right: 20;
    border: none;
    border-radius: 2px;
  }
.letsCookButton {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: black;
  cursor: pointer;
  background-color: #0fb9b1;
  border: none;
  border-radius: 2px;
  margin: 20;
  height: 35px;
  width: 180px;
  
}





.main {
  display: flex;
  margin: 25;
  margin-top: 50;
  justify-content: space-evenly;
}

.courseOptionsBox {
  background-color: rgba(225, 225, 225, .9);
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  animation: fade-in 0.5s
}
.courseOptions{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  flex-direction: column;
}


.cookPotBox {
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade-in 0.5s
}

.cookPotBox p {
  animation: fade-in 0.5s ease-in-out;
}

.courseOptionsBox,
.cookPotBox {
  height: 350px;
  width: 350px;
}
.img {
  height: 150px;
  width: 150px;
}
h1 {
  font-size: 26px;
  margin: 10;
}
.courseOption{
  margin: 8;
}

h1 span {
  color: red
}

button:hover {
  background-color: rgba(219, 195, 195, 0.55);
  transition: all 0.2s;
}
@keyframes fade-in{
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}  



/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
