/* Sections of the page */
body {
    background-image: url('assets/burger-friends.jpg');
    background-size: cover;
    margin: 0;
} 
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0fb9b1;
    width: 100%;
    animation: fade-in 0.5s
  }
  .main {
    display: flex;
    margin: 25;
    margin-top: 50;
    justify-content: space-evenly;
  }


/* Buttons of the page */
.addRecipeButton {
    background-color: rgb(223, 217, 217);
    color: black;
    font-size: 14px;
    cursor: pointer;
    margin: 5;
    margin-right: 20;
    border: none;
    border-radius: 2px;
  }
.letsCookButton {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: black;
  cursor: pointer;
  background-color: #0fb9b1;
  border: none;
  border-radius: 2px;
  margin: 20;
  height: 35px;
  width: 180px;
}


/* "Boxes" of the page */
.clearButtonBox{
  display: flex;
  align-items: flex-end;
}
.courseOptionsBox {
  background-color: rgba(225, 225, 225, .9);
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.5s
}
.courseOptions{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  flex-direction: column;
  animation: drop-in 1000ms;
}
.cookPotBox {
  background-color: rgba(225, 225, 225, .9);
  align-content: center;
  font-size: 30px;
  animation: fade-in 0.5s ease-in-out;
}
.cookPotBox img {
  height: 200px;
  width: 200px;
  margin: 100;
  animation: drop-in 1000ms;
}
.courseOptionsBox,
.cookPotBox {
  height: 400px;
  width: 400px;
}


/* General styling */
.headline{
  font-size: 28px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  margin: 25;
  margin-left: 30;
}
.cookPotBox p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  animation: fade-in 0.5s ease-in-out;
}
.cookBoxTitle {
  font-weight: 100;
  font-size: 18px;
  font-style: italic;
}
.cookBoxSingleCourseTitle{
  font-weight: 100;
  font-size: 18px;
  font-style: italic;
}
h1 {
  font-size: 26px;
  margin: 10;
  animation: drop-in 1000ms;
}
.courseOption{
  margin: 8;
}

h1 span {
  color: red
}

/* Animations and transitions and effects */

button:hover {
  background-color: rgba(219, 195, 195, 0.55);
  transition: all 0.2s;
  animation: grow-and-shrink;
  animation: grow-and-shrink 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes fade-in{
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}  
@keyframes drop-in {
  from {
    transform:
      rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform:
      rotate(0deg) translateY(0%);
    opacity: 1;
  }
}
@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.headline {
  animation: drop-in 1000ms;
}


/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
